@media (min-width: 767px) {
  .menu img {
    width: calc(140px + 32 * (100vw / 1620));
  }
  .menu p {
    font-size: calc(14px + 6 * (100vw / 1620));
    word-spacing: calc(10px + 25 * (100vw / 1620));
    margin: auto 0;
  }
}
@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footerElem {
    width: 90% !important;
    margin: 0 4% 10% 4% !important;
    text-align: justify !important;
  }
  .footerElem p {
    text-align: justify !important;
  }

  .text2 {
    margin: 10px 0 0 0 !important;
  }

  .form {
    width: 96%;
    height: 80%;
    top: 10%;
    left: 2%;
  }

  .line {
    top: 10%;
  }

  .progressBar {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 0%;
  }

  .block {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 90%;
  }

  .markers div {
    font-size: 24px;
    height: 35px;
    width: 35px;
  }
  .markers div:after {
    content: '' !important;
    display: none !important;
  }

  .block_right {
    width: 100%;
    height: 100%;
    padding: 25% 5%;
  }
  .block_right input {
    font-size: 18px;
    width: 45%;
  }
  .block_right p:nth-child(1) {
    font-size: 34px;
  }
  .block_right button {
    margin: 3% 3% 0 3%;
    width: 40%;
    font-size: 18px;
  }

  .inputData {
    font-size: 17px;
  }

  #Yes {
    width: 8%;
    right: 37%;
  }

  .block_rightTitle {
    font-size: 20px;
  }

  .firstText,
  .secondText,
  .fishText {
    text-align: center !important;
    left: 15% !important;
  }

  .swiper-slide button {
    left: 20% !important;
    margin: 4% 0 0 20% !important;
    width: 60% !important;
  }

  .video-container {
    width: 100%;
    height: 35% !important;
  }

  .swiperText {
    width: 70%;
    left: 15%;
  }

  .video-container .movie {
    height: 80% !important;
    min-height: 190px;
  }

  .control-btn {
    margin: 5% 15% 0 0 !important;
    margin: 5% 0 0 0 !important;
  }

  .about {
    display: block;
  }

  .video3 {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    object-fit: cover !important;
    transform: scale 1, 1, 0.5 !important;
  }

  .info {
    width: 100% !important;
    display: block;
    height: 60%;
    margin: 0 0 0 0;
  }
  .info p:nth-child(1) {
    width: 100%;
  }
  .info p:nth-child(3) {
    font-size: 14px;
    line-height: 18px;
  }

  .control {
    width: 30% !important;
    height: 6% !important;
    display: flex !important;
    justify-content: space-between !important;
  }

  .bookNow p:nth-child(3) {
    margin: 0 10% !important;
  }

  .swiper-button-next img,
  .swiper-button-prev img {
    width: 35px;
    height: 35px;
  }

  .swiper-button-next img {
    right: 10px;
  }

  .swiper-button-prev img {
    left: 10px;
    margin: 0;
  }

  .swiperText {
    height: 0;
    top: 50%;
  }

  .swiper {
    height: 90%;
  }

  .menuBody {
    position: fixed;
    top: 0;
    transform: translateX(-100px);
    width: 100%;
    height: 100%;
    background: black;
    display: none;
    z-index: 999;
  }

  .blockWrapper {
    margin: 10% 0% 0% 0%;
    width: 100%;
    height: 50%;
  }

  .blockWrapperElem {
    height: 100%;
    border-radius: 5px 0 0 5px;
  }

  .infoAboutCity {
    bottom: -60%;
    left: 10%;
    width: 80%;
    height: 65%;
    border-radius: 5px;
  }
  .infoAboutCity .priceButton {
    font-size: 16px;
    width: 50%;
  }

  .blockWrapperElem2 {
    border-radius: 0 5px 5px 0;
  }

  .destination {
    margin: 0 3% 5% 3%;
    height: 80%;
    padding: 30% 0 0 0;
  }

  .feedbackElem {
    height: 120% !important;
    margin: 0 0 3% 0;
  }

  .feedbackCont {
    margin-top: 20% !important;
    padding: 40% 0 0 0 !important;
    width: 98% !important;
    margin: 0px 1% 0 1% !important;
  }

  .feedbackElem__left {
    border-radius: 10px 0 0 10px !important;
  }
  .feedbackElem__left img {
    object-fit: cover;
    height: 100%;
  }

  .feedbackElem__right {
    border-radius: 0 10px 10px 0 !important;
  }

  .content button {
    max-width: 200px !important;
    width: 50% !important;
  }

  .footer {
    margin: 10% 0 0 0 !important;
  }

  .feedbackElem {
    border-radius: 10px !important;
    margin: 5% 0 0 0 !important;
  }

  .newSlider {
    /* border:1px solid white !important; */
    display: flex;
    width: 80% !important;
    align-items: center;
  }

  .newWrapper .swiper-slide {
    margin: auto !important;
  }

  .newSlider .swiper-slide button {
    width: 50% !important;
  }
  .newSlider .swiper-button-prev:after {
    color: white;
    font-size: 30px;
    margin: 0 30px 0 0;
  }
  .newSlider .swiper-button-next:after {
    color: white;
    font-size: 30px;
    margin: 0 0 0 30px;
  }

  .ourThings .swiper-slide-next {
    transform: scale(1, 1) !important;
    transition: 0.1s ease-in-out;
    opacity: 1;
    padding: 0 auto;
  }
  .ourThings .swiper-slide {
    margin: 2% 0 0 0 !important;
    height: 100% !important;
  }

  .bookNow {
    height: 60% !important;
    margin: 30% 0 0 0 !important;
  }

  .content {
    height: 50% !important;
  }

  .footer {
    padding: 50% 9% 7% 9% !important;
  }

  .ourThings__footcard {
    /* height: 80% !important; */
    max-height: 230px;
  }

  .ourThings__price {
    margin: 5% 0 0 0 !important;
  }

  .newSlider {
    min-height: 350px;
    height: 70% !important;
    padding: 0 0 0 0 !important;
    margin: 0 !important;
  }

  .slider-button-prev img,
  .slider-button-next img {
    width: 30px;
    height: 30px;
  }

  .newWrapper {
    padding: 0% !important;
  }

  .slide {
    width: 100%;
  }

  body .activeSlide {
    width: 100% !important;
    min-width: 60% !important;
    display: inline-block;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  body .menuFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin: 30% auto 10% 10%;
    line-height: 2;
    font-size: 36px !important;
  }
  body .mainMenuActive {
    height: 100% !important;
  }
  body .material-icons1,
  body .material-icons2 {
    position: absolute;
    z-index: 3;
    transform: rotate(0);
  }
  body .material-icons1 {
    top: 0;
  }
  body .material-icons2 {
    bottom: 0;
  }

  .menu {
    height: 100%;
    position: relative;
  }

  .mainMenu {
    height: 87px !important;
  }

  .menuIcon {
    position: absolute !important;
    right: 20 !important;
    top: 25px;
    display: inline-flex !important;
    width: 30px;
    height: 30px;
    margin: auto 0 auto 0;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }
  .menuIcon span {
    display: block;
    width: 30px;
    margin: 0 auto;
    z-index: 5;
    background: white;
    height: 4px;
    cursor: pointer;
    opacity: 1;
    border-radius: 10px;
  }

  .delete {
    position: absolute;
    left: 0;
    top: 44%;
  }

  .menuButton {
    display: none;
  }

  .menu img {
    display: inline-block !important;
    width: 30% !important;
    max-height: 80px;
    position: absolute;
    top: 30px;
    left: 20px;
  }
  .menu a:hover:after {
    content: '';
    display: none !important;
  }
}
@media (max-width: 1000px) {
  .newSlider {
    margin: 0 auto !important;
    width: 50% !important;
    padding: 0 5% 0 5% !important;
  }

  .menuIcon {
    position: absolute !important;
    right: 20 !important;
    top: 25px;
    display: inline-flex !important;
    width: 30px;
    height: 30px;
    margin: auto 0 auto 0;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    z-index: 2000;
  }
  .menuIcon span {
    display: block;
    width: 30px;
    margin: 0 auto;
    z-index: 5;
    background: white;
    height: 4px;
    cursor: pointer;
    opacity: 1;
    border-radius: 10px;
  }

  .slide {
    display: none;
    width: 100%;
  }

  body .activeSlide {
    display: block;
    animation-timing-function: ease-in;
    opacity: 1;
    transform: scale(1, 1);
  }

  @keyframes animetedNew {
    0% {
      opacity: 0;
      transform: scale(0.9, 0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  .menu p {
    font-size: calc(14px + 6 * (100vw / 1620));
    word-spacing: 3%;
    display: none;
  }

  .mainMenu {
    height: 15%;
    width: 100%;
  }

  .menuButton {
    display: none;
  }

  .info p:nth-child(2) {
    margin: 10px 0 0 0 !important;
  }
}
@media (max-width: 1500px) {
  .ourThings {
    margin: 0;
  }

  .newSlider {
    margin: 0 2% 5% 2%;
    width: 100%;
  }
}
