.mainMenu {
  height: 12%;
  background: #0d1922;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 600;
  display: flex;
  flex-direction: column;
}

.menuIcon {
  cursor: pointer;
  display: none;
}

.menu {
  background: #0d1922;
  width: 100%;
  height: 50%;
  display: inline-flex;
  margin: auto;
  justify-content: space-evenly;
  flex-direction: row;
  vertical-align: middle;
}

.menu img {
  margin: -10px 0 0 0;
  width: 100%;
  max-height: 62px;
  cursor: pointer;
}

.menu p {
  font-family: 'Open Sans';
  font-size: calc(14px + 6 * (100vw / 1620));
  height: calc(14px + 6 * (100vw / 1620));
  margin: auto 0;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  word-spacing: calc(5px + 25 * (100vw / 1620));
  display: inline-block;
  z-index: 56;
}

.menu a {
  font-size: calc(14px + 6px * (100vw/1620px));
  position: relative;
  color: white;
}

.menu a:hover:after {
  content: '';
  text-decoration: underline;
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  top: 30px;
  left: 0;
}

.mainMenu .menuButton {
  animation-name: anim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(20, 18);
  animation-delay: 3s;
  background: rgba(236, 181, 0, 0.425);
  margin: auto 0;
  width: 10%;
  height: 70%;
  font-size: calc(8px + 10 * (100vw / 1620));
  border-radius: 20px;
  font-weight: 700;
  font-family: 'Open Sans';
  color: white;
  transform: scale(1, 1);
}

.mainMenu .menuButton a {

  display: block;
  line-height: 1.8;
  border-radius: 20px;
}

.mainMenu .menuButton a:visited {
  color: white;
}

.mainMenu .menuButton a:hover:after {
  content: '';
  display: none;
}

.mainMenu .menu .active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menuBody {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
  z-index: 999;
}