<<<<<<< HEAD
=======
@font-face {
	font-family: "William_Narasi[1]";
	font-style: normal;
font-weight: 400;
  
	/* Браузер сначала попробует найти шрифт локально */
	src: local("Roboto"),
		 /* Если не получилось, загрузит woff2 */
		 url("/fonts/William_Narasi[1].woff2") format("woff2"),
		 /* Если браузер не поддерживает woff2, загрузит woff */
		 url("/fonts/William_Narasi[1].woff") format("woff");
  }

>>>>>>> 19c5c4b401890b57710c9d51f018e082043c98af
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	ms-text-size-adjust: 100%;
	moz-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}
<<<<<<< HEAD
=======

>>>>>>> 19c5c4b401890b57710c9d51f018e082043c98af
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
<<<<<<< HEAD
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
	background:rgba(0, 0, 0, 0.98) !important;
}
html::-webkit-scrollbar {
    width: 5px;
	background:rgba(3, 3, 3, 0.959);
=======

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/* div{
	border:1px solid#eee;
} */

html{
	scroll-behavior: smooth;
	overflow-x: hidden;

	/* border:2px solid red; */
}


html::-webkit-scrollbar {
    width: 5px;
background:rgba(3, 3, 3, 0.959);
	
>>>>>>> 19c5c4b401890b57710c9d51f018e082043c98af
}
html::-webkit-scrollbar-thumb{
	background:#e29b03;
	border-radius:3px;	
}
<<<<<<< HEAD
body .modalOpen{
	overflow-y: hidden !important;
	position: static !important;

	width: 100%;
	height: 100%;
}
body{
	height: 100%;
	color: #222;
	scrollbar-width: thin;
    padding: 3% 0 0 0;
    background:rgba(0, 0, 0, 0.98);
	overflow: visible;
} 

.black{
	display: block !important;
	height: 30px;
	width: 160px !important;
	background:black !important;
	color:white !important;
}
.newDiv{
	display: none;
	height: 100%;
	width: 100%;
	background:black;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
=======
body{
color: #222;
scrollbar-width: thin;
  padding: 4% 0 0 0;
  background:rgba(3, 3, 3, 0.959);

  
}
body .dark-theme {
  color: #eee;

}
.swiper-slide img{
width: 100%;
	height: 100%;
	object-fit: cover;
display: block;
}
.swImg::after{
	content:" ";
	width: 100%;
		height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	background:rgba(0, 0, 0, 0.5);
	border:1px solid white;
	}
.swiper{
	position: absolute;
	z-index: 56;
	top: 9%;

	height: 100%;
display: block;


}
@media(max-width:767px){
	.mainMenu div:nth-child(1){
		display: none;
	}
	.menu{
		height: 100%;
		position: relative;
		
	}
	.mainMenu{
		height: 13% !important;
		
	}
	.menuIcon{
		display: flex !important;
		width: 30px;
		height: 30px;
	margin: auto 0 auto 0;
	
		flex-direction: column;
		justify-content: space-between;
		position: relative;
	
	}
	.menuIcon span{
	display: block;
width: 100%;
margin: auto;
	z-index: 5;
	background:white;

	height: 4px;
	}
	.menuIcon::before{
		content:"";
		display: block;
		position: absolute;
	width: 100%;
	height: 4px;
top: 0;
z-index: 5;
background:white;
	}
	.menuIcon::after{
		content:"";
		display: block;
	width: 100%;
	height: 4px;
		position: absolute;
		bottom: 0;
		z-index: 5;
		background:white;
	}
	.menu_btn{
		display: none;
	}
	.menu img{
		display: inline-block !important;
		width: 25% !important;
max-height: 62px;
position: absolute;
left: 20px;
		
	}

	.menu a:hover:after{
		content:'';
		display: none !important;
	}
	

}
.mainMenu{
	height: 15%;
	background:rgba(36, 36, 36, 1);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
display: flex;
flex-direction: column;

}
.mainMenu div:nth-child(1){
	height: 30%;
	background: #121212;
	width: 100%;
}
.menuIcon{
	display: none;
}
.menu{
	background:rgba(36, 36, 36, 1);
	border:1px solid white;
	width: 100% ;
	height: 50%;
	display: inline-flex;
margin: auto;
	justify-content:space-evenly;
	flex-direction: row;
	vertical-align: middle;
}
.menuBody{
	display: none;
	width: 100%;
	height: 100%;
	background:black;
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 1;
	
}
.menu img{
margin: -10px 0 0 0;
width: 100%;
max-height: 62px;
	cursor: pointer;

}
.menu p{
	font-family: 'Open Sans';
	font-size: calc(14px + 6 * (100vw / 1620));
height: calc(14px + 6 * (100vw / 1620));
margin: auto 0;
	/* line-height: calc((14px + 6 * (100vw / 1620)) * 3); */
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	word-spacing: calc(5px + 25 * (100vw / 1620));
display: inline-block;
	z-index: 56;

	border:1px solid white;
	/* margin: 45px 0 0 800px; */



	} 
.menu_btn{
margin:auto 0;
	width: 10%;
height: 70%;
	font-size: calc(8px + 10 * (100vw / 1620));

		border-radius: 20px;
	background:rgba(0, 0, 0, 0.5);
		font-weight: 700;
		font-family: 'Open Sans';
		color:rgb(255, 255, 255);
	border:3px solid rgb(236, 181, 0);
	
	
	}
@media(min-width:767px){
	.menu img{
		width: calc(140px + 32 * (100vw / 1620));
	}
	.menu p{
		font-size: calc(14px + 6 * (100vw / 1620));
		word-spacing: calc(10px + 25 * (100vw / 1620));
		margin: auto 0;
	}
	
}
@media(max-width:1000px){
	body{
		/* border:1px solid white; */
	}
	.menu img{
	display: none;
	}
	.menu p{
		font-size: calc(14px + 6 * (100vw / 1620));
		word-spacing: 3%;
	
		
	}
	.mainMenu{
		height: 15%;
		width: 100%;
	}
	.menu_btn{
		height: 50%;
	}
	.info p:nth-child(2){
		font-size: calc(16px + 12 * (100vw / 1620)) !important;
		margin: 10px 0 0 0 !important;
	
	}
	
}
@media(max-width:767px){
	 .firstText , .secondText , .fishText {
		text-align: center !important;
		/* border:1px solid white; */
	

		
	}
	.swiper-slide button{
		left: 20% !important;
		margin: 4%  0 0 20% !important;
		width: 60% !important;
		
	}
	
	 .firstText ,  .secondText ,.fishText{
	
		left: 15% !important;
		/* border:1px solid white; */
	
	}
	.video-container{
		width: 100%;
	}
>>>>>>> 19c5c4b401890b57710c9d51f018e082043c98af
}
.str{
	font-size: 10px;
	width: 30px;
}
<<<<<<< HEAD

@keyframes anim {
	0%{
		background:rgba(236, 181, 0, 0.425);
	}
 33%{
=======
.swiper-button-prev:after {
	color:white;
	font-size: 180px;
	margin: 0 0 0 10px ;
}
.swiper-button-next:after {
	color:white;
	font-size: 180px;
	/* margin: -400px 50px 0 0; */
	margin: 0 10px 0 0 ;
	
}

.head:before{
	content: '';
		max-width:1662px ;
	height: 448px;
	
	z-index: 50;
	position: absolute;
	opacity: 0.6;
}
.square{
display: block;
	position: absolute;
	top: 40%;
	left: 20%;
	height: 100%;
	width: 30%;
	border:1px solid white;
	z-index: 100;
}
@media(max-width:767px){
	.square{
		width: 70%;
		left: 15%;
	}
	.video-container .movie{
		height: 80% !important;
		
	}
	.control-btn{

		margin: 0 15% 0 0 !important;
	}
}
.firstText{
	font-family: 'Open Sans';
	font-size: calc(36px + (9 + 9 * 0.7) * ((100vw - 320px) / 1620));
	line-height: calc(36px + (39 + 39 * 0.7) * ((100vw - 320px) / 1620));
	font-weight: 500;
	color: #ffffff;
	
	
	display: block;
	
	/* top:30%;
	left: 15%;
	 */
}
.secondText{
	font-family: 'Open Sans';
	font-size: calc(32px + (13 + 13 * 0.7) * ((100vw - 320px) / 1620));
	line-height: 75px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;


	display: block;
	
	/* top: 40%;
	left: 15%; */
}
.fishText{
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #ffffff;

	display: inline-block;
	text-align: justify;	
	/* top:50%;
	left: 15%; */
	
}
.swiper-slide .menu_btn{
	/* top:65%;
	left: 15%; */
	margin: 2% 0 0 0;
	height: 40px;
	width: 40%;

}
.rightSlide .firstText{
	top:30%;
	left: 60%;	
}
.rightSlide .secondText{
	top:40%;
	left: 60%;
}
.rightSlide .fishText{
	top:50%;
	left: 60%;
	margin: 0 10% 0 0;
}
.rightSlide .menu_btn{
	top:65%;
	left: 60%;
	margin: 0 auto;
}
/* .head div:nth-child(2){
width: 179px;
height: 41px;
position: absolute;
z-index: 56;
display: inline-block;

margin: 28px 0 0 248px;
}*/

.menu a:visited{
	color:white;
	transition: 1s;
}
.menu a{
	font-size: calc(14px + 6px * (100vw/1620px));
	
	position: relative;
	color:white;

}
.menu a:hover:after{
	content:'';
	text-decoration: underline;
	position: absolute;
	width: 100%;
	height: 2px;
	background:white;
	top: 30px;
	left:0;
}
.menu_btn a:hover:after{
	content:'';
	display: none;
}
.menu_btn a:visited{
	color:white;
}

.mainMenu .menu_btn{
	animation-name: anim;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: steps(20, 18);
animation-delay: 3s;
background:rgba(36, 36, 36, 1);
	/* box-shadow: 0 0 10px rgb(155, 121, 9),
	0 0 20px rgb(155, 121, 9),
	0 0 30px rgb(155, 121, 9),
	0 0 40px rgb(155, 121, 9); */
	border:1px solid rgb(236, 181, 0);
	transform: scale(1,1);
}
@keyframes anim {
 
 


 33%{
	border:1px solid rgb(236, 181, 0);
>>>>>>> 19c5c4b401890b57710c9d51f018e082043c98af
	background:rgb(236, 181, 0);
	box-shadow: 0 0 10px rgb(236, 181, 0),
	0 0 20px rgb(236, 181, 0),
	0 0 30px rgb(236, 181, 0),
	0 0 40px rgb(236, 181, 0);
	transform: scale(1.01,1.01);
<<<<<<< HEAD
	color:white;
 	}
 38%{
=======

color:white;
 }
 38%{
	border:1px solid rgb(236, 181, 0);
>>>>>>> 19c5c4b401890b57710c9d51f018e082043c98af
	box-shadow:0 0 10px rgb(255, 212, 95),
	0 0 20px rgb(255, 225, 142),
	0 0 30px rgb(255, 235, 180),
	0 0 40px rgb(255, 246, 221),
<<<<<<< HEAD
	0 0 60px rgb(255, 255, 255);
	background:white;
	background:rgb(236, 181, 0);
	transform: scale(1.05,1.05);
	}
 43%{
	transition: 0.1s;
=======
	 0 0 60px rgb(255, 255, 255);
  background:white;
  background:rgb(236, 181, 0);
  transform: scale(1.05,1.05);
 
 }
 43%{
	 transition: 0.1s;
>>>>>>> 19c5c4b401890b57710c9d51f018e082043c98af
	background:rgb(212, 169, 28);
	box-shadow: 0 0 10px rgb(212, 169, 28),
	0 0 20px rgb(212, 169, 28),
	0 0 30px rgb(212, 169, 28),
	0 0 40px rgb(212, 169, 28);
	color:white;
<<<<<<< HEAD
	transform: scale(1,1);
 }
}
body .slider__text{
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 29px;
	font-weight: 700;
	text-transform: uppercase;
	color: #eee;
	text-align: center;
=======
	border:1px solid rgb(236, 181, 0);
	transform: scale(1,1);
 }
 
}

  
 
 
/* .nowInTrends{
	height: 440px;
	width: 1662px;
	padding: 20px 0 0 0;
	margin: 100px 0 0 0;
} */
body .slider__text{
width: 100%;
	height: 70px;
padding: 15px 0 0 0;
margin: 0 0 50px 0;
}	
.swiper-wrapper{
	height: 800px;
}
.about{


	display: flex;
padding: 150px 0 0 0;

	margin: 90px 3% 0 3%;
}
@media (max-width:767px){
	.about{
display: block;
	
	
	}

	.video-container{

		width: 100%;
		height: 35% !important;
		
	}
	 .video3{
		width: 80%;
		height: 300px;
		margin:0 auto;
		object-fit: cover !important;
		transform: scale (1,1,0.5) !important ;
	}
	.info{
		
		width: 100% !important;
		display: block;
		height: 100% ;
		margin: 0 0 0 0;
	}
	.info p:nth-child(1){
	width: 100%;
	
	}
	.control{
		width: 30% !important;
		height: 6% !important;
		display: flex !important;
	justify-content: space-between !important;
	}
	.content{
	
	padding: 60px 0 0 0 !important;
	
	
	}

	.bookNow p:nth-child(3){
		
		margin: 0 10% !important;
	
	}
	.control-btn{
	
		margin: 5% 0 0 0 !important;
		
	}	
}

.mainMenu .menu .active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

body .control-btn:focus{
	background:rgb(212, 169, 28);;
display: block;
	box-shadow: 0 0 10px rgb(212, 169, 28),
	0 0 10px rgb(212, 169, 28),
	0 0 20px rgb(212, 169, 28),
	0 0 30px rgb(212, 169, 28);
}
.info{
	width: 50%;
	height: 350px;

	padding: 3% 5% 5% 3%;
}
.info p:nth-child(1){
	font-family: 'Open Sans';
font-size: 26px;
line-height: 1.2;
font-weight: 500;

color: #be9d05;

}
.info p:nth-child(2){
	font-family: 'Open Sans';
font-size: 36px;
line-height: 36px;
font-weight: 700;
margin: 30px 0 0 0;
color: #ffffff;

}
.info p:nth-child(3){
	font-family: 'Open Sans';
font-size: 14px;
line-height: 20px;
font-weight: 400;
margin: 20px 0 0 0;
color: #ffffff;

}
.info p:nth-child(4){
	font-family: 'Open Sans';
font-size: 18px;
line-height: 20px;
font-weight: 700;
background:rgba(0, 0, 0, 0);
color: #07fcb2bb;
border-radius:20px;
width: 150px;
height: 40px;
margin: 30px 0 0 0;
cursor: pointer;

}
.video-container{
	/* width: 50%;
	height: 450px;

	margin: 0 0 30px 0; */


}
.video-container video{
margin: -40px 0 0 0;
	width: 100%;
	height: 400px;
	object-fit: cover;
	

}
.movie{
	height: 80%;
	border-radius: 10px;
	overflow: hidden;
}
.control{
width: 25%;
	display: flex;
	justify-content: space-between;
border:1px solid white;
	margin: 15% 0 0 0;
	height: 20%;
	text-align: center;
	margin: auto;
}
.control-btn{
	text-align: center;
	background:rgb(212, 169, 28);;

	border-radius:50%;
	background-color:rgb(250, 249, 249);
	
	cursor:pointer;
	margin: 10% 0 0 0;
	display: block;

width: calc(20px + (5 + 5 * 0.7) * ((100vw - 320px) / 1620));
height: calc(20px + (5 + 5 * 0.7) * ((100vw - 320px) / 1620));
}	
.control-btn:hover{
	background:rgb(212, 169, 28);;
	transition: 0.3s;
	box-shadow: 0 0 10px rgb(212, 169, 28),
	0 0 10px rgb(212, 169, 28),
	0 0 20px rgb(212, 169, 28),
	0 0 30px rgb(212, 169, 28);
}
body .video1{
	margin: -215px 0 0 -70px;
	height:600px;
}

.swiper-wrapper{
	transition-duration: 2s;
}
.text2{
	display: block;

}
 body .slider__text{


	font-family: 'Open Sans';
font-size: 20px;
line-height: 29px;
font-weight: 700;
text-transform: uppercase;
color: #eee;
text-align: center;


}
/* .nowInTrends__text p:after{
	content: '';
width: 67px;
height: 3px;
opacity: 0.4;
background-color: #b59f5b;
position: absolute;
display: block;
margin: 4px 0 0 800px;

} */
/* .nowInTrends__images{
	display: flex;
	height: 320px;
		width:1662px ;
}
.nowInTrends__images{
	display: flex;
	height: 320px;
		width:1662px ;
}
.nowInTrends__back{

}
.nowInTrends__borderM{
	width: 410px;
height: 320px;
opacity: 0;
background-color: black;
position: absolute;
z-index: 9;
margin: -320px 0 0 0  !important;
}
.nowInTrends__borderM:hover{
opacity: 0.8;
	transition: all 0.3s ease-out ;
}
.nowInTrends__border{
	width: 371px !important;
height: 146px  !important;
opacity: 1;
background-color: rgba(0,0,0,0.0);
border: 3px solid #b59f5b;
margin: 158px 0 0 18px !important;
padding: 41px 0 0 38px;
}
.nowInTrends__border p:nth-child(1){
font-family: 'Open Sans';
font-size: 14px;
line-height: 14px;
font-weight: 700;
text-transform: uppercase;
color: #b59f5b;
word-spacing: 18px;
margin: 0 0 10px 0;
}
.nowInTrends__border p:nth-child(2){
font-family: 'Open Sans';
font-size: 20px;
line-height: 24px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
}

.nowInTrends__images img:nth-child(1){
		width:410px ;
	height: 320px;
	margin: 0 4px 0 0;
}
.nowInTrends__images img{
overflow: hidden;
	height: 320px;
	width: 99.999%;
	display: block;
	margin: -320px 0 0 0;
}
.nowInTrends__images div:nth-child(4){
	margin: 0 0px 0 0 !important;
			width:410px ;
	height: 320px;
}
.nowInTrends__images div{
		width:410px ;
	height: 320px;
	margin: 0 4px 0 0;
} */
.videoCont{
	display: block;
	width: 300px;
	height: 100px;

}

.videos{
	width: 700px;
	height: 300px;
}
.newVideo1{
	height: 350px;
	width: 600px;

}
.destination{
border:1px solid white;
	margin: 0 6%;
max-width: 100%;
	padding: 150px 0 0 0;

}
.destination__title{
text-align: center;
font-family: 'Open Sans';
font-size: 20px;
line-height: 20px;
font-weight: 500;

color:#cc8f0bb7;
}
.destination__decscription{
	text-align: center;
font-family: 'Open Sans';
font-size: calc(24px + (6 + 6 * 0.7) * ((100vw - 320px) / 1620)) ;
	line-height: calc(28px + (22 +22 * 0.7) * ((100vw - 320px) / 1620)) ;
font-weight: 600;
text-transform: uppercase;
color:#fafafa;
padding: 5px 0 3% 0;
}
.destButton{
		display: inline-block;
		text-align: center;
		margin: 0 15%;
		width: 70%;
		height: 10%;
		background:black;
		color:white;
		font-size: 20px;
		cursor: pointer;
	}
	.active_button{
		background:orange;
	}
.flexDest{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.flexDest__elem{
	max-width: 24%;
	height: 48%;
	border-radius:10px;
	background:#2c2c2c;
	margin: 0 0 1% 0;

}
@media (max-width:767px){
	.flexDest__elem{
		max-width: 100%;
		margin: 0 0 10% 0;
	}

	.destination{
	
		margin: 0 15%;
		
	}
	.feedbackElem{
		height: 120% !important;
		margin: 0 0 3% 0;
	
	}
	.feedbackCont{
		margin-top: 20% !important;
		border:1px solid white;
		padding:40% 0 0 0 !important;
	}
	.feedbackCont{
		width: 98% !important;
		margin: 0px 1% 0 1% !important;
	}
	.feedbackElem__left{
		border-radius:10px 0 0 10px !important;
		
	}
	.feedbackElem__left img{
		object-fit: cover;
		height: 100%;
	}
	.feedbackElem__right{
		
		border-radius:0 10px 10px  0 !important;
		
	}
	.content button{
		max-width: 200px !important;
	
		width: 60% !important;
	}
	.footer{
		margin: 10% 0 0 0 !important;
	}
	.bookNow p:nth-child(2){
		margin: 10px 0 10px 0 !important;
	
	}
	.feedbackElem{
	
		border-radius:10px !important;
		margin: 10% 0 0 0 !important;
	}
	.newSl {
		border:1px solid white !important;
		display: flex;
		width: 80% !important;
	}
	.newWrap .swiper-slide{
		margin:auto !important;
		
	}
	.newSl .swiper-button-prev:after {
		color:white;
		font-size: 30px;
		margin: 0 30px 0 0 ;
		
	}
	.newSl .swiper-button-next:after {
		color:white;
		font-size: 30px;
		/* margin: -400px 50px 0 0; */
		margin: 0 0 0 30px ;
		
	}
	.newSl .swiper-slide button{
	
		width: 50% !important;
		
	}
	.ourThings .swiper-slide-next{
	transform:scale(1,1) !important; 
	transition: 0.1s ease-in-out;
	opacity: 1;
	padding: 0 auto;
}
.bookNow{
	height: 60% !important;
	padding: 40% 0 0 0 !important;
}
.footer{

padding: 50% 9% 7% 9% !important;

}
.ourThings__footcard{
height: 80% !important;
}
.ourThings__price {

	margin: 5% 0 0 0 !important;
}

	.newSl{
	min-height: 350px;
		height: 50% !important;
	
		padding: 0 0 0 0 !important;
		}
		.ourThings .swiper-slide{
			margin: 2% 0 0 0 !important;
			
				height: 100% !important;
			}

}

.flexDest__title{
	width: 100%;
	height:60%;
	overflow:hidden;
	border-radius:10px 10px 0 0;
	overflow: hidden;
	display: block;
}
.flexDest__title img {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
	
}
.flexDest__main{
	height: 40%;
	padding:  5% 10% 5% 10%;
}
.flexDest__title img:hover{
	transform: scale(1.13,1.13);
	transition: 0.5s ease-in-out;
	border-radius:10px 10px 0 0;
	
}
body .flexDest__main p:nth-child(1){
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;

	color: #ffffff;
	text-align: center;
	}
.flexDest__main p:nth-child(2){
		font-family: 'Open Sans';
		font-size: calc(10px + (4 + 4 * 0.7) * ((100vw - 320px) / 1620));
		line-height: calc(10px + (4 + 4 * 0.7) * ((100vw - 320px) / 1620));
		font-weight: 500;
	text-align: center;
		color: #ffffff;
		text-align: center;
		margin: 4% 0 0 0;
		}
body .flexDest__main p:nth-child(3){
	font-family: 'Open Sans';
	font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1620));
	line-height: 18px;
	font-weight: 600;
	padding: 2% 0 0 0;
cursor: pointer;
	color: #07fcb2bb;
	text-align: center;
	}
.image{
	width: 100%;

}


.feedbackCont{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 0px 5% 0 5%;
padding: 10% 0 0 0;
background:rgba(0, 0, 0, 0);
border:1px solid white;
	justify-content: space-between;
}
.flexCont{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.feedbackCont .destination__title{
	width: 100%;

	padding: 0 auto;
border:1px solid white;
	display: inline-block;
}
.feedbackCont .destination__decscription{
	width: 100%;
	padding: 0 auto;
	font-size: calc(24px + (6 + 6 * 0.7) * ((100vw - 320px) / 1620)) ;
	line-height: calc(28px + (22 +22 * 0.7) * ((100vw - 320px) / 1620)) ;
	display: block;
}
.feedbackElem{
height: 32%;
width: 100%;
display: flex;
background:rgba(255, 255, 255, 0);
opacity: 0.4;
min-height: 50px;
overflow: hidden;
box-shadow: 0 0 2px #ffa601,
0 0 6px #ffa601,
0 0 8px #ffa601,
0 0 10px #ffa601;
border-radius:20px;
}

.feedbackElem:hover{
	opacity: 1;
	transition: all 0.3s ease-in-out;
	transform: scale3d(1.05,1.05,1.05);
}

.feedbackElem__left{
	border-radius:20px 0 0 20px;
	width: 40%;
	overflow: hidden;
	background:#2c2c2c;

	height: 100%;
}
.feedbackElem__left img{
	object-fit: cover;
	height: 100%;
	
}
.feedbackElem__right{
	width: 60%;
	overflow: hidden;
	background:rgba(7, 7, 7, 0.466);
	border-radius:0 20px 20px  0;
	/* padding: 4%; */
	padding-left: 0;
	padding-right: 0;
	display: flex;
}
.feedbackElem__right div{
	margin: auto;
	/* border:1px solid white; */
}
.feedbackElem p:nth-child(1){
	font-family: 'Mrs Saint Delafield', ;
font-weight: 300;
font-style: italic;
font-size: calc(12px + 46 * (100vw / 1620));
text-align: center;
padding-top: calc(10px + 40 * (100vw / 1620));
color:#e29b03;

}
.feedbackElem p:nth-child(2){
	font-family: 'Cookie', ;
font-weight: 400;
font-size: calc(8px + (14 + 14 * 0.7) * ((100vw - 320px) / 1620));
text-align: center;
padding: 0% 8% 0 8%;
padding-top: calc(10px + 20 * (100vw / 1620));
color:rgb(255, 255, 255);
}
.feedbackElem p:nth-child(3){
	font-family: 'Open Sans';
font-weight: 700;
font-size: calc(6px + 18 * (100vw / 1620));
text-align: center;
padding-top:calc(8px + 8 * (100vw / 1620));
padding-bottom: 10%;
color: #07fcb2bb;
cursor: pointer;
display: block;

}

.img{
	margin: -365px 0 0 -10px;
	top:100;
	left: 0;
	width: 20%;


	display: block;
}
.img2{
	margin: -340px 0 0 81%;
	top:100;
	left: 0;
	width: 20%;


	display: block;
>>>>>>> 19c5c4b401890b57710c9d51f018e082043c98af
}



<<<<<<< HEAD











=======
.ourThings{
			width:100% ;

		margin: 0px auto 0 auto;
		padding: 150px 0 0 0;
border:1px solid white !important;
}
.ourThings__text{
	height: 50px;
	width: 100%;
	margin: 0 0 40px 0;
}
.ourThings__text p:nth-child(1){
	text-align: center;
font-family: 'Open Sans';
font-size: 20px;
line-height: 20px;
font-weight: 500;

color:#cc8f0bb7;
}
.ourThings__text p:nth-child(2){
	margin: 0 0 30px 0;
}
.ourThings__card{
width: 100%;
height: 500px;
		display: flex;
flex-direction: row;
justify-content: space-between;

}

.newSl{
margin: 0px auto 0 auto;
	width: 70%;
height: 90%;
border:1px solid white !important;
padding: 0 0 0 0 !important;
}
@media (max-width:1500px){
	.ourThings .swiper-slide-next{
		transform:none !important;
		transition: 0.5s ease-in-out;
		opacity:  0.2 !important;
		padding: 0 10px 0 10px;
		margin: 0 10px 0 0;
	}
	.ourThings .swiper-slide-active{
opacity: 1 !important;
margin: 0 auto;
	}
	.newSl{
		/* padding: 0 0 0 3% !important; */
		width: 70%;
	}
	
}
/* .ourThings .swiper-wrapper{
	margin: 0 0 0 50px;
} */
.newSl .swiper-slide{


}
.newSl .swiper-button-prev:after {
	
	margin: 0 20px 0 0 ;
	
}
.newSl .swiper-button-next:after {

	margin: 0 0 0 20px ;
	
}
.ourThings__card1 {

		min-width: 0;
		width: 100%;
		/* height: calc(200px + 240 * (100vw / 1620));
		width: calc(150px + 180 * (100vw / 1620)); */
	display: flex;
	flex-direction: column;
	height: 100%;
}
.ourThings .swiper-slide{
margin: 6% 0 0 0;
	width: 10%;
	/* border:1px solid#fefefe; */
	opacity: 0.2;
	height: 80%;
}
.ourThings .swiper-slide-next{
	transform:scale(1.2,1.2);
	transition: 0.8s ease-in-out;
	opacity: 1;
	padding: 0 auto;
}
/* .ourThings .swiper-slide-active ,.ourThings .swiper-slide-duplicate-active ,.ourThings .swiper-slide-duplicate-prev {
	transform:scale(0.8,0.8);
} */
div.newWrap > div:not(.swiper-slide-next){
	transform:scale(0.77,0.77);
}
body .newWrap .swiper-slide-next > div{
	transform:scale(1,1) !important;
}
.ourThings__card2{
	width: 100%;
	/* height: calc(200px + 240 * (100vw / 1620));
	width: calc(150px + 180 * (100vw / 1620)); */
		min-width: 0;
		display: inline-flex;
		flex-direction: column;
	justify-content: space-between;
	height: 100%;

}
.ourThings__card3{
	
	width: 100%;
		min-width: 0;
		/* height: calc(200px + 240 * (100vw / 1620));
		width: calc(150px + 180 * (100vw / 1620)); */
		display: flex;
		flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.ourThings__headcard{
	width: 100%;
	margin: auto;

}
.ourThings__headcard img{
	width: 85%;
	height: 100%;
margin: 0 auto;

}
.ourThings__footcard{
	width: 100%;
height: 100%;
padding: 12% 6% ;
border: 3px solid #b59f5b;
display: block;
margin: 0 auto;
background:rgba(0, 0, 0, 0.1);

}
.ourThings__footcard {}
.ourThings__title span:nth-child(1) {
font-family: 'Open Sans';
font-size: 20px;
line-height: 34px;
font-weight: 700;
text-transform: uppercase;
color:#e29b03;
margin: 0 0 8px 0;

}
.ourThings__title  {
font-family: 'Open Sans';
font-size: calc(12px + (3 + 3 * 0.7) * ((100vw - 320px) / 1620));
line-height: 20px;
font-weight: 400;
color: #fefefe;
width: 100%;

/* margin: 30px 0 15px 0; */
}
em{
	font-family: 'Open Sans';
font-family: 'Open Sans';
font-size: 15px;
line-height: 15px;
font-weight: 400;
color: #0f0d0e;
color: #b59f5b;
font-style: normal;
}
.ourThings__price {
	display: flex;
	width: 300px;
	height: 49px;
	margin: 10% 0 0 0 ;
}
.ourThings__price p:nth-child(1){
font-family: 'Open Sans';
font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1620));
line-height: 24px;
font-weight: 500;
text-decoration: line-through;
text-transform: uppercase;
color:#ffffffb2;
opacity: 0.7;
}
.ourThings__price p:nth-child(2){
font-family: 'Open Sans';
font-size: calc(20px + (4 + 4 * 0.7) * ((100vw - 320px) / 1620));
line-height: 24px;
font-weight: 400;
text-transform: uppercase;
color:#e29b03;
}

.ourThings__price button {
	width: 141px;
height: 40px;
background-color: #b59f5b;
right: 0;
position: absolute;

margin: 0 25px 0 0;
font-size: 18px;
	border-radius: 20px;
	background:rgba(255, 254, 254, 0);
	font-weight: 700;
	font-family: 'Open Sans';
	color:rgb(255, 255, 255);
	border:3px solid rgb(212, 169, 28);
	box-shadow: 0 0 10px rgb(212, 169, 28);
}
.bookNow{
	/* margin: 150px 0 0 0; */

	border:1px solid red;
	
height: 75%;
position: relative;
padding: 10% 0 0 0;



}
.content{



padding: 100px 0 0 0;
	width: 100%;
	border:1px solid white;
	background-image: url("../img/osen-pole-peyzazh-priroda.jpg") ;
	background-repeat: no-repeat;
	background-attachment: fixed;
background-size: cover;

}
.bookNow p:nth-child(1){
	display: block;
	text-align: center;
	font-weight: 500;
	font-family: 'Open Sans';
	color:#ffffff;
	font-size: calc(26px + (2 + 2 * 0.7) * ((100vw - 320px) / 1620));

	
}
.bookNow p:nth-child(2){
	display: block;
	text-align: center;
	font-weight: 700;
	font-family: 'Open Sans';
	color:rgb(255, 255, 255);
	font-size: calc(24px + (8 + 8 * 0.7) * ((100vw - 320px) / 1620));
	margin: 20px 0 10px 0;

}
.bookNow p:nth-child(3){
	display: block;
	text-align: center;
	font-weight: 300;
	font-family: 'Open Sans';
	color:rgb(255, 255, 255);
	line-height: 20px;
	font-size: 14px;
	margin: 0 32%;

}
.content button{
	display: block;
	margin: 2% auto 2% auto;
	height: 45px;
	width: 240px;

	font-size: 22px;
	border-radius: 22.5px;
	background:rgba(0, 0, 0, 0.411);
	font-weight: 600;
	font-family: 'Open Sans';
	color:rgb(255, 255, 255);
	border:3px solid rgb(212, 169, 28);
	box-shadow: 0 0 10px rgb(212, 169, 28);
	
}
.content button:hover{
	background:rgb(212, 169, 28);;
	transition: 0.8s;
	box-shadow: 0 0 2px rgb(212, 169, 28),
	0 0 10px rgb(212, 169, 28),
	0 0 20px rgb(212, 169, 28),
	0 0 30px rgb(212, 169, 28);


}

.footer{
	width: 100%;


display: flex;
flex-direction: row;
justify-content: space-between;
padding: 10% 10% 7% 10%;
background:rgba(0, 0, 0, 0.1);
border:1px solid white;
}
.footerElem{
width: 25%;


}
@media(max-width:767px){
	.footer{
		display: flex;
		flex-direction: column;
	}
	.footerElem{
		width: 90% !important;
		margin: 0 4% 10% 4% !important;
		border:1px solid white;
		text-align: justify !important;
	}
	.footerElem p{
		text-align: justify !important;
	}
	.text2{
		
		margin: 10px 0 0 0 !important;
	}
}
.footerElem img{
	width: 150px;
	margin: -30px 0 0 0;
}
.text2{
	font-size: 20px;
	color:white;
	margin: 16px 0 0 0;
}
.share{
	margin:20px 0 0 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.share a{
	color:#e29b03;
	margin: 0 5px 0 0;
	border:2px solid#e29b03; 
	height: 6%;
	width: 50px;
	line-height: 45px;
	font-size: calc(12px + 12 * (100vw / 1620));
	border-radius:50%;
	text-align: center;
	padding: 0 auto;
	justify-content: center;
}
.share a:hover{
	color:rgba(3, 3, 3, 0.959);
	background:#e29b03;
}
.footerElem p:nth-child(1){
margin: 0 0 20px 0;
	font-size: 28px;
	font-weight: 500;
	color:white;
}
.text2 i{
	margin: 0 15px 10px 0;
	color:#e29b03;
}
.footerElem input{
	
	width: 100%;
	height: 50px;
	border-radius:25px;
	background:transparent;
	border:2px solid#e29b03;
	padding: 0 0 0 15px;
	color:rgb(252, 247, 247);
	font-size: 20px;
	font-weight: 400;
	margin: 15px 0 0 0;

}

.subs{
display: block;
width: 50%;
height: 50px;
border-radius:25px;
background:transparent;
	border:3px solid#e29b03;
	color:white;
	margin: 15px 0 0 0;
	font-size: 22px;
	font-weight: 500;
}
>>>>>>> 19c5c4b401890b57710c9d51f018e082043c98af
